* {
    margin: 0;
    padding: 0;
}

body { 
    width: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #6b6363;
}

.container {
    display: grid;
    grid-template-columns: 0.30fr 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
}
  
.navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    color: #fff; /* Cor do texto na barra lateral */
}

.navbar > header {
    height: 80px;
    background-color: #075e54; /* Cor de fundo da barra lateral */
}

.navbar > header > h1{
    position: relative;
    top: 25%;
    left: 1rem;
    
    color: #f2f2f2;
}

.navbar > #users {
    padding: 10px;
}
  
.content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: #f2f2f2; /* Cor de fundo do conteúdo */
    padding: 20px;
}
  
.message {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #ece5dd; /* Cor de fundo da área de entrada de mensagem */
    padding: 20px;
}

.message > .container_message {
    width: 100%;
    gap: 1rem;
    display: flex;
}

.message > .container_message > input {
    width: 90%;
}

.message > .container_message > input:focus {
    outline: none;
}

.data_user > h1::first-letter {
    text-transform: uppercase;
}


/* CSS message chat */

.message_client {

}


.message_client > h1::first-letter {
    text-transform: uppercase;
}
