.form-container {
    width: 300px;
    height: 360px;

    border: none;
    border-radius: 6px ;

    box-shadow: 10px 9px 8px #dddd;
    background-color: #e1ebfc;
}

.form-container > .form {
    width: 100%;
    height: 90%;

    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container > .form h1 {
    color: #0c54c0;
}

.form-container > .form > .form-control {
    width: 80%;
    padding: 10px;

    gap: 1rem;
    display: flex;
    flex-direction: row;

    border-radius: 6px;

    background-color: aliceblue;
}

.form-container > .form > .form-control > img {
    width: 20px;
}

.form-container > .form > .form-control > input {
    width: 100%;

    border: none;
    background: none;
}

.form-container > .form > .form-control > input::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container > .form > .form-control > input:focus {
    outline: none;
}

.form-container > .form > .btn-login {
    margin-top: 1rem;
    padding: 10px 35px 10px 35px;
    
    border: none;
    border-radius: 6px;

    cursor: pointer;

    color: aliceblue;
    background-color: #0c54c0;
}

.form-container > p {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: small;

    color: #0c54c0;
}

.form-container > p > a {
    color: #4683df;
    padding-left: 7px;
}

/* css - conditionals */
.invalidText {
    color: red;
    font-size: 1rem;
    margin-bottom: 3rem;

    display: block;
}

.invalidInput  {
    border: 1px solid red;
}