doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title Socket.IO chat
    link(rel="stylesheet", href="/css/chat.css")
    script(src="/js/jquery-3.7.1.min.js")
  body
    div.container
      div.navbar
        header 
          h1 Navbar
        section#users 
      div.content
        h1 Content
      div.message
        div.container_message
          input#message_client(autocomplete="off")
          input(type="hidden" value=user id="username")
          button#send_message(type="button") Send

  
  script(src="http://localhost:8080/socket.io/socket.io.js")
  script.  
    if (window.location.href === 'http://localhost:8080/chat') {
      const socket = io();

      // Emitindo uma mensangem para o servidor á partir do clique do botão send_message e passando um usuário junto do valor da mensagem.
      $('#send_message').click(function () {
        const message_text = $('#message_client').val();
        const username = $('#username').val();

        console.log('send_message: ', message_text);
        console.log('username: ', username);
        
        socket.emit('send_message_server', {user: username, message: message_text});
      });

      socket.on('user_connected', (data) => {
        const div = $('<div>');
        div.addClass('data_user');

        const h1 = $('<h1>').text(data.user); 
        const span = $('<span>').text('online'); 

        div.append(h1, span); 

        $('#users').append(div);
      });

      // Escutando o método send_message_client para receber os dados e mostrá-los na tela.
      socket.on('send_message_client', (data) => {
        const div = $('<div>');
        div.addClass('message_client');

        const h1 = $('<h1>').text(data.user); 
        const span = $('<span>').text(data.message); 

        div.append(h1, span); 

        $('.content').append(div);
      });
    };