doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/css/globals.css")
    link(rel="stylesheet", href="/css/login.css")
    script(src="/js/jquery-3.7.1.min.js")
  body
    div.form-container
      form.form(action="/chat" method="post")
            h1 Entrar

            div.form-control
                img(src="/images/user_icon.png", alt="icon user")
                input(type="text", name="username", id="username", placeholder="Dígite seu usuário")

            div.form-control
                img(src="/images/pass_icon.png", alt="icon user")
                input(type="password", name="password", id="password", placeholder="Dígite sua senha")

            button.btn-login Entrar

      p Não tem uma conta? 
        a(href="/cadastro") Cadastre-se

  script. 
    function validateData() {
      const username = $('input[name="username"]').val(); 
      const password = $('input[name="password"]').val();

      if (!password || !username) {
        $('.form-control').addClass('invalidInput');
        return false
      } else {
        $('form.form').submit();
        return true
      };
    };

    $(document).ready(function() {
      $('button.btn-login').on('click', function (event) {
        event.preventDefault();
        validateData();
      });
    });   